body {
  --CUHK-purple: #740f6B;
  --CUHK-yellow: #E6B001;
  --hover-purple: #5a0c53;
  --active-purple: #44093e;
  --Map-blue: #1C73E8;
  --border-grey: #DEE2E6;
  --hover-grey: #F8F9FA;
  --active-grey: #E9ECEF;
  --description-grey: #AAAAAA;
}

nav {
  width: 100vw-0px;
  height: 6vh;
  background-color: var(--CUHK-purple);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 100;
  color: white;
}

nav a {
  text-decoration: none;
  color: white;
}

.lb {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.nav-cell {
  font-size: 2.5vh;
  padding: 0 1vw;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.nav-cell:hover {
  background-color: var(--hover-purple);
}

.nav-cell:active {
  background-color: var(--active-purple);
}

.nav-cell.left:nth-child(1) {
  margin-left: 2vw;
}

.nav-cell.right:nth-child(1) {
  margin-right: 3vw;
  position: relative;
  right: 5vw;
  max-width: 12vw;
  transform: translateX(50%);
}

/* Set classes */
.main-container {
  width: 80vw;
  position: relative;
  top: 9vh;
  left: 10vw;
}

.user-name {
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  position: absolute;
  right: 3vw;
  top: 100%;
  background-color: white;
  flex-direction: column;
}

.dropdown-cell {
  width: 10vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid var(--border-grey);
  border-bottom: 1px solid var(--border-grey);
  border-right: 1px solid var(--border-grey);
  color: var(--CUHK-purple);
  cursor: pointer;
  z-index: 10000;
}

.dropdown-cell:hover {
  background-color: var(--hover-grey);
}

.dropdown-cell:active {
  background-color: var(--active-grey);
}

.a-cunning-margin {
  width: 70vw;
  height: 9vh;
  position: fixed;
  top: 0vh;
  left: 15vw;
  background: white;
  z-index: 90;
  visibility: hidden;
}

.location-map-container-start {
  width: 80vw;
  height: 80vh;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 90;
}

.location-map-container-end {
  width: 20vw;
  height: 20vh;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 90;
}

.hider {
  height: 21vh;
  width: 100vw-0px;
  position: absolute;
  left: -10vw;
  background-color: white;
  z-index: 89;
  visibility: hidden;
  display: inline-block;
}

.location-info-container {
  width: 60vw;
  position: relative;
  top: 0;
  left: 10vw;
  margin-bottom: 5vh;
}

.location-button-line-container-start {
  background-color: white;
}

.location-button-line-container-end {
  position: fixed;
  top: 29vh;
  left: 20vw;
}

.location-button-line-container {
  height: 11vh;
  width: 60vw;
  border-top: 3px solid var(--CUHK-purple);
  border-left: 3px solid var(--CUHK-purple);
  border-right: 3px solid var(--CUHK-purple);
  border-bottom: 1px solid var(--border-grey);
  border-radius: 10px 10px 0 0;
  z-index: 90;
  background-color: white;
  box-shadow: 0 10px 10px -10px var(--border-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 8vw;
}

.location-button-border {
  width: 45px;
  height: 45px;
  border: 1.5px solid #888888;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-button-border:hover {
  border-color: var(--CUHK-purple);
  cursor: pointer;
}

.location-button-border:hover svg {
  fill: var(--hover-purple);
}

.location-button-border:active {
  font-variant: var(--active-purple);
  cursor: pointer;
}

.location-button-border:active svg {
  fill: var(--active-purple);
}

.location-second-line-container-start {
  width: 60vw-2px;
  height: 9vh;
  border-bottom: 1px solid var(--border-grey);
}

.location-second-line-container-end {
  width: 60vw;
  height: 9vh;
  border-left: 1px solid var(--border-grey);
  border-bottom: 1px solid var(--border-grey);
  border-right: 1px solid var(--border-grey);
  z-index: 89;
  background-color: white;
  position: fixed;
  top: 40vh;
  left: 20vw;
}

.location-second-line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 10px -10px var(--border-grey);
}

.location-info-body-container-start {
  border-left: 1px solid var(--border-grey);
  border-bottom: 1px solid var(--border-grey);
  border-right: 1px solid var(--border-grey);
}

.location-info-body-container-end {
  border-left: 1px solid var(--border-grey);
  border-bottom: 1px solid var(--border-grey);
  border-right: 1px solid var(--border-grey);
  position: relative;
  top: 20vh;
}

.second-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1vw;
}

.second-button-border {
  width: 35px;
  height: 35px;
  border: 1.5px solid #888888;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-button-border:hover {
  border-color: var(--CUHK-purple);
  cursor: pointer;
}

.second-button-border:hover svg {
  fill: var(--hover-purple);
}

.second-button-border:active {
  font-variant: var(--active-purple);
  cursor: pointer;
}

.second-button-border:active svg {
  fill: var(--active-purple);
}

.event-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-item-cell {
  width: 55vw;
  height: 15vh;
  border: 1px solid var(--border-grey);
  border-radius: 10px;
  margin-top: 2vh;
  box-shadow: 0 10px 10px -10px var(--border-grey);
  position: relative;
}

.event-item-cell:last-child {
  margin-bottom: 3vh;
}

.event-item-cell:hover {
  background-color: var(--hover-grey);
  cursor: pointer;
}

.event-item-cell:active {
  background-color: var(--active-grey);
  cursor: pointer;
}

.event-item-presenter {
  position: absolute;
  left: 2vw;
  top: 1vh;
  font-size: 20px;
  font-weight: bold;
}

.event-item-timeslots-container {
  position: absolute;
  width: 5vw;
  right: 5vw;
  top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-item-timeslots-number {
  width: 5vw;
  font-size: 24px;
  border: 1px solid var(--border-grey);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-item-timeslots-text {
  font-size: 14px;
  margin-top: 5px;
}

.event-item-description {
  position: absolute;
  top: 5vh;
  left: 2vw;
  width: 40vw;
  max-height: 9vh;
  font-size: 13px;
  color: #555555;
  overflow: hidden;
}

.event-item-price {
  position: absolute;
  bottom: 1vh;
  left: 2vw;
}

.comment-item-cell {
  width: 55vw;
  min-height: 10vh;
  border: 1px solid var(--border-grey);
  border-radius: 10px;
  margin-top: 2vh;
  box-shadow: 0 10px 10px -10px var(--border-grey);
  position: relative;
}

.comment-item-cell:last-child {
  margin-bottom: 3vh;
}

.login-form {
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  margin: 40px auto;
}

.login-form button {
  background-color: white;
  border: 1px solid var(--border-grey);
  border-radius: 20;
  margin-top: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Tool classes */
.flex {
  display: flex;
  align-items: center;
}

.margin-bot {
  margin-bottom: 0.5vh;
}

.width-50 {
  width: 50vw;
}

.border-div {
  border: 0.5px solid var(--border-grey);
}

.description {
  font-size: 12px;
  color: var(--description-grey);
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}